/* Generic spinning animation - clockwise */
.spin2 {
  animation: loading-1 0.5s 0s infinite;
}
.reserve {
  animation: loading-2 0.5s 0s infinite;
}
@keyframes loading-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Generic spinning animation - counter-clockwise */
@keyframes loading-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Generic spinning animation - counter-clockwise */
@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* Spinning Border 1 */
.spinning-border {
  width: 70vw;
  max-width: 280px;
  height: 70vw;
  max-height: 280px;
  border: 5px solid transparent;
  border-right-color: #9333ea; /* Tailwind's purple-600 */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

/* Spinning Border 2 */
.spinning-border2 {
  width: 70vw;
  max-width: 280px;
  height: 70vw;
  max-height: 280px;
  border: 5px solid transparent;
  border-right-color: #7c3aed; /* Tailwind purple-700 */
  border-radius: 50%;
  animation: spin-reverse 4s linear infinite;
}

/* Bounce text animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

/* Pulse scale-in animation */
@keyframes scale-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.scale-in {
  animation: scale-in 1s ease-in-out infinite;
}
